<strong>Obrigado por se cadastrar no Silva Coffee!</strong>

<p>Já já você poderá experimentar os mais variados tipos de café com culinária nordestina sem precisar sair da sua casa!</p>

<p>Basta clicar no botão abaixo para confirmar sua identidade primeiro :)</p>

<a href="<%= @url %>" target="_blank" rel="noopener noreferrer">
  <div class="button">
    <span>Confirmar identidade</span>
  </div>
</a>

<p>Caso o botão acima não esteja funcionando, basta colar o link abaixo no seu navegador, ok?</p>

<a href="<%= @url %>" target="_blank" rel="noopener noreferrer"><%= @url %></a>

<p>Atenciosamente, equipe Silva Coffee.</p>